.calculator-container{
    display: block;
}
.calculator-container h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    color: white;
}
.iframe-container{
    margin: 10px;
}
.iframe-container img{
    width: 250px;
    height: 250px;
    border: 0;
}