@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-content-list : #a68a7f75;
  --color-button :#7f1d1d; 
  --color-content-item:#ffedd5;
  --color-nav-bar: #BF4343;
  --color-text: #EEEAE5;
  
}


Button{
  background-color: var(--color-button);
}

#btn-hidden{
  display: none;
}

#Navbar{
  background-color: var(--color-nav-bar);
  border-radius: 50px;
}

#div-list{
  margin: 5% 5% 0% 5%;
  background-color: var(--color-content-list);
  padding: 5%;
  border-radius: 10px;
 
}
h1{
  font: 2.5em Georgia;
}

b{
  padding: 1%;
  margin: 1% 0% 1% 0%;
}
