@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-content-list : #A68A7F;
  --color-button :#7f1d1d; 
  --color-content-item:#ffedd5;
  --color-nav-bar: #BF4343;
  --color-text: #EEEAE5;
}
